body {
    font-family: sans-serif;

    iframe {
      background-color: black;
      width: 100%;
      /* width: 100%; */
      /* height: 500px; */
      /* width: 100px; */
      /* height: 100px; */
    }
  
    label {
      display: block;
    }

    textarea {
      font-family: monospace
    }

    .section {
      margin-top: 2rem;

      display: flex;
      flex-direction: column;
      max-width: 800px;
      width: 100%;

      position: relative;

      .btn-copy {
        position: absolute;
        right: 20px;
        top: 35px;
      }

      #viewer-container {
        display: block !important;

        &.collapse iframe {
          height: 0px;
        }

        &.collapse.show iframe {
          width: 100%;
          height: 400px;
        }
      }
    }

  }
  